{% extends 'base.html' %}

{% block title%} Index {% endblock %}

{% block body %}
{% if people %}
<table class="iksweb">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    {% for person in people %}
    <tr>
        <td>{{person[0]}}</td>
        <td>{{person[1]}}</td>
        <td>{{person[2]}}</td>
        <td>{{person[3]}}</td>
        <td><a href="/people/show/{{person[0]}}">Show</a></td>
        <td><a href="/people/update/{{person[0]}}">Update</a></td>
        <td><a href="/people/delete/{{person[0]}}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>People list is empty!</p>
{% endif %}


{% endblock %}
