{% extends 'base.html' %}

{% block title%} Update {% endblock %}

{% block body%}
<form method="post">
    <p>
        <label for="name">Enter your name</label>
        <input type="text" name="name" placeholder="Person's name">
    </p>
    <p>
        <label for="date_of_birth">Enter your date of birth (YYYY-MM-DD format)</label>
        <input type="text" name="date_of_birth" placeholder="Date of birth">
    </p>
    <p>
        <label for="address">Enter city where you were born</label>
        <input type="text" name="address" placeholder="City">
    </p>
    <p>
        <button class="custom-btn btn-2" type="submit">Submit</button>
    </p>
</form>

{% endblock %}